    body {
      font-family: "Roboto", "Open Sans", "Arial", "Verdana", sans-serif;
      font-size: 1em;
      width: 100%;
      text-transform: none;
      background-color: #80d8ff;
      // 416E82
      > main {
        height: inherit;
        > div {
          height: inherit;
        }
      }
    }
    
    .md-button {
      text-transform: none;
      width: 80px;
      text-align: center;
      &.long {
        width: 200px;
      }
    }
    
    div.overlay {
      text-align: center;
    }
    
    .addProject {
      padding: 5px;
      margin: 5px;
      font-size: 24px;
      border-radius: 15px 5px;
      border: 2px solid #50dfff;
    }
    
    md-content {
      div.side-border {
        border-right: 2px solid #50dfff;
      }
      div.bottom {
        border-bottom: 2px solid #50dfff;
      }
      div.signup {
        /*background-color: #50dfff;*/
        width: 500px;
      }
      div.login {
        width: 400px;
        /*background-color: #50dfff;*/
      }
      div.options {
        text-align: left;
      }
    }
    
    .redirect {
      > h2.md-subheadline {
        font-size: 1em;
      }
      .md-button {
        font-size: 1.1em;
        padding: 5px;
      }
    }
    
    div.header {
      border: 2px solid #efe;
      height: 54px;
    }
    
    div.dashboard {
      height: inherit;
      & > div.sidenav {
        height: inherit;
      }
      md-content.contentheader {
        height: 40px;
      }
      .md-button {
        width: 120px;
        margin: 5px;
        >span {
          color: white;
          margin: 5px;
        }
      }
    }
