doctype html
html(lang="en" ng-app="prodocs" ng-cloak)
  head
    title(ng-bind="\"Prodocs\" +$state.current.name")
    include shared/head
  body
    div.body(layout="column")
      div.main(ui-view)

