doctype html
html(lang="en" ng-app="prodocs" ng-cloak)
  head
    title(ng-bind="\"Prodocs\" +$state.current.name")
    include shared/head
  body
    div.main(ui-view)
  div.footer
    h3 Prodocs 2014 - Andela-EAkinyele

