div(layout="row")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="leftt" md-is-locked-open="$mdMedia(\"gt-md\")")
    md-toolbar
      h1.md-toolbar-tools(ui-sref="") Browse
    md-content(layout-padding)
      md-button.btn-style(md-ink-ripple ui-sref="")  Owned Documents
      md-divider
      md-button.btn-style(md-ink-ripple ui-sref="")  Shared Documents
      md-divider
      md-button.btn-style(md-ink-ripple hide-gt-md) Close