div.listdata(layout ="column" layout-margin ng-init="userList()")
  md-toolbar
    .md-toolbar-tools(layout="row")
      h3.md-subheadline List of Users: {{userErr}}
  md-content(ui-grid="gridOptions1" ui-grid-pagination class="grid")
