md-content(layout ="column" flex="100" ng-init="groupList()")

  md-toolbar.table(ng-class="{\"reset\": !bigScreen}")
    .md-toolbar-tools.sectionTitle(layout="row")
      div(layout flex)
        span.title List of Groups
        span.small {{groupErr}}
      md-input-container.md-block(md-no-float)
        label(for="search")
        input(type="text" name="search" ng-model="search.$" placeholder="Type here to search")
      div.headerbutton(layout layout-align="center center")
        md-button.md-accent.md-raised(aria-label="Refresh Table" ng-click="refreshTable()")
          md-icon(md-font-set="fa fa-refresh") 
          span Refresh

  md-content.listDocs(layout="column" layout-margin)
    md-table-container
      table.md-table(md-row-select="true" md-progress="promise")
        thead.md-head(md-order="query.order")
          tr.headerSection.md-row
            th.md-column(md-order-by="query.order" ng-repeat="header in groupHeaders") {{header}}
        tbody.md-body
          tr.md-row(md-auto-select ng-repeat="group in groups | orderBy: query.order | filter : search track by $index")
            td.md-cell {{group._id}}
            td.md-cell {{group.title}}
            td.md-cell {{group.description}}
            td.md-cell {{group.users.length}}
    md-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{count}}" md-on-paginate="onPaginateGroup" md-page-select)


      
