md-content(layout ="column" flex="100" layout-margin ng-init="appUsers()")

  md-toolbar.table
    .md-toolbar-tools.sectionTitle(layout="row")
      span(flex)  List of All Users {{userErr}}
      md-input-container.md-block(md-no-float)
        label(for="search")
        input(type="text" name="search" ng-model="search.$" placeholder="Type here to search")
      md-button.md-accent.md-raised(aria-label="Refresh Table" ng-click="refreshTable()")
        md-icon(md-font-set="fa fa-refresh fa-2x") 
        span Refresh



  md-content.listDocs(layout="column" layout-margin)
    md-table-container
      table.md-table(md-row-select="true" md-progress="promise")
        thead.md-head(md-order="query.order")
          tr.headerSection.md-row
           
            th.md-column(md-order-by="query.order" ng-repeat="header in userHeaders") {{header}}
        tbody.md-body
          tr.md-row(md-auto-select ng-repeat="user in allUsers | orderBy: query.order | filter : search track by $index")
            
            td.md-cell {{user._id}}
            td.md-cell {{user.username}}
            td.md-cell {{user.email}}
            td.md-cell {{user.name.first}}
            td.md-cell {{user.name.last}}
            td.md-cell {{user.groupId.length}}
            td.md-cell
              md-menu(ng-hide="user._id === 100 || user._id === 101")
                  md-button(aria-label="user options" ng-click="openMenu($mdOpenMenu, $event)")
                    md-icon(md-font-set="fa fa-ellipsis-v fa-2x" md-menu-origin) 
                  md-menu-content(width="1")
                    md-menu-item
                      md-button.md-primary(aria-label="Delete user" ng-click="menuAction(\"delete\", user._id)")
                        md-icon(md-font-set="fa fa-trash fa-2x" md-menu-align-target) 
                        span Delete
    md-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{allUsers.length}}" md-on-paginate="onPaginateAppUser" md-page-select)

md-content(layout ="column" flex="100" layout-margin ui-view="inner")


      
