md-content(layout ="column" flex="100" ng-init="docList()")

  md-toolbar.table(ng-class="{\"reset\": !bigScreen}")
    .md-toolbar-tools.sectionTitle(layout="row")
      div(layout flex)
        span.title List of Documents
        span.small {{docErr}}
      md-input-container.md-block(md-no-float)
          label(for="search")
          input(type="text" name="search" ng-model="search.$" placeholder="Type here to search")
      div.headerbutton(layout layout-align="center center")
        md-button.md-accent.md-raised(aria-label="Refresh Table" ng-click="refreshTable()")
          md-icon(md-font-set="fa fa-refresh") 
          span Refresh


  md-toolbar.table.alternate(ng-if="selected.length > 0" ng-class="{\"reset\": !bigScreen}")
    .md-toolbar-tools.sectionTitle(layout="row")
      span(flex) {{selected.length}} Selected

      div.headerbutton(layout layout-align="center center")
        md-button.md-warn.md-raised(aria-label="Delete Selected" ng-click="deleteSelection($event)")
          md-icon(md-font-set="fa fa-trash") 
          span Delete

  md-content.listDocs(layout="column" layout-margin)
    md-table-container
      table.md-table(md-row-select="true" md-progress="promise")
        thead.md-head(md-order="query.order")
          tr.headerSection.md-row
            th.md-column.md-checkbox-cell
              md-checkbox(aria-label="Select Column" ng-checked="all(docs)" ng-click="selectAll(docs)" role="checkbox")
            th.md-column No
            th.md-column(md-order-by="nameToLower" ng-repeat="header in docHeaders") {{header}}
        tbody.md-body.third
          tr.md-row(md-auto-select ng-repeat="doc in docs | orderBy: query.order | filter : search track by $index")
            td.md-cell.md-checkbox-cell
              md-checkbox(aria-label="Select Row" ng-checked="isSelected(doc._id, selected)" ng-click="toggle(doc._id, selected)" role="checkbox")
            td.md-cell {{$index + 1}}
            td.md-cell {{doc.label}}
            td.md-cell {{doc.title}}
            td.md-cell {{doc.ownerId[0].name.first}} {{doc.ownerId[0].name.last}}
            td.md-cell {{getDate(doc.dateCreated).day}}
            td.md-cell
              md-menu(ng-if="selected.length < 1")
                  md-button(aria-label="doc options" ng-click="openMenu($mdOpenMenu, $event)")
                    md-icon(md-font-set="fa fa-ellipsis-v" md-menu-origin) 
                  md-menu-content(width="1")
                    md-menu-item
                      md-button.md-primary(aria-label="Edit doc" ng-click="menuAction(\"edit\", doc._id, $index, $event)")
                        md-icon(md-font-set="fa fa-pencil-square-o" md-menu-align-target) 
                        span Edit doc
                    md-menu-item(ng-if="!editDoc(doc)" )
                      md-button.md-primary(aria-label="Delete doc" ui-sref="dashboard.doc.view({docId:doc._id})")
                        md-icon(md-font-set="fa fa-external-link" md-menu-align-target) 
                        span View doc
                    md-menu-item
                      md-button.md-primary(aria-label="Delete doc" ng-click="menuAction(\"delete\", doc._id, $index, $event)")
                        md-icon(md-font-set="fa fa-trash" md-menu-align-target) 
                        span Delete
    md-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{count}}" md-on-paginate="onPaginateDoc" md-page-select)


      
