md-content(layout ="column" flex="100" layout-margin ng-init="roleList()")

  md-toolbar.table
    .md-toolbar-tools.sectionTitle(layout="row")
      div(layout flex)
        span.title List of Roles
        span.small {{roleErr}}
      md-input-container.md-block(md-no-float)
        label(for="search")
        input(type="text" name="search" ng-model="search.$" placeholder="Type here to search")
      div.headerbutton(layout layout-align="center center")
        md-button(ui-sref="dashboard.admin.role.add")
          md-icon(md-font-set="fa fa-briefcase") 
          span Add/Edit Roles
          md-tooltip Add Group Roles
      div.headerbutton(layout layout-align="center center")
        md-button.md-accent.md-raised(aria-label="Refresh Table" ng-click="refreshTable()")
          md-icon(md-font-set="fa fa-refresh") 
          span Refresh

  md-content.listDocs(layout="column" layout-margin)
    md-table-container
      table.md-table(md-row-select="true" md-progress="promise")
        thead.md-head(md-order="query.order")
          tr.headerSection.md-row
            th.md-column No
            th.md-column(md-order-by="query.order" ng-repeat="header in roleHeaders") {{header}}
        tbody.md-body
          tr.md-row(md-auto-select ng-repeat="role in roles | orderBy: query.order | filter : search track by $index")
            td.md-cell {{$index + 1}}
            td.md-cell {{role._id}}
            td.md-cell {{role.title}}
            td.md-cell {{role.users.length}}
            td.md-cell
              md-menu(ng-if="role.title !==\"Admin\"")
                  md-button(aria-label="doc options" ng-click="openMenu($mdOpenMenu, $event)")
                    md-icon(md-font-set="fa fa-ellipsis-v" md-menu-origin) 
                  md-menu-content(width="1")
                    md-menu-item
                      md-button.md-primary(aria-label="Delete role" ng-click="menuAction(\"delete\", role._id, $index, $event)")
                        md-icon(md-font-set="fa fa-trash" md-menu-align-target) 
                        span Delete
    md-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{count}}" md-on-paginate="onPaginateRole" md-page-select)

md-content(layout ="column" flex="100" layout-margin ui-view="inner")



      
