md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="lefty" md-is-locked-open="$mdMedia(\"gt-md\")")
  md-toolbar
    div(layout="row" layout-margin)
      h3.md-toolbar-tools {{currentUser.username}}
  md-content(layout="column")
    div(layout="column" ng-if="userRole[0].title === \"superAdmin\" || userRole[0].title === \"Admin\"" layout-padding)
      h3 Admin Menu
      md-button.btn-style(md-ink-ripple aria-label="admin menu item" ng-click="") List Users
      md-button.btn-style(md-ink-ripple aria-label="admin menu item" ng-click="") List Roles
      md-divider
    div(layout="column" layout-padding)
      h3 Groups
      md-checkbox(ng-repeat="group in groups" aria-label="user groups" ng-checked= "isSelected(group._id)" ng-click="toggle(group._id)" ) {{group.title}}
      md-divider
    div(layout="column" layout-padding) 
      h3 Documents
      md-button.btn-style(md-ink-ripple aria-label="Doc category" ui-sref="dashboard.list.mydocs") My Documents
      md-button.btn-style(md-ink-ripple aria-label="Doc category" ui-sref="dashboard.list.shared({roleid: userRole[0]._id})") Shared Documents
      md-divider
