.dashboard(layout="column" class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
  md-toolbar.md-accent(ui-view="header")
  div(layout="row" id="dashContent")
    div.sidenav(layout="row"  ui-view="sidenav")
    div(layout="column" layout-margin flex)
      div(ui-view="table" layout ="column" layout-fill flex="100")
      div(layout="row" ui-view="docdata" layout-fill)           
        




