.fullHeight(layout="row" ng-cloak ng-if="activeUser")
  div.sidenav(ui-view="sidenav")
  div(layout="column" id="dashContent")
    md-toolbar(ui-view="header" ng-class="{\"reset\": !bigScreen}")
    div.afterSideNav(layout="column" flex)
      md-content(ui-view="inner")
      md-content(ui-view="admin")
      md-content.dashgroup(layout="column" ui-view="group" flex)
  div.profile(ui-view="profile")

        




