md-dialog(aria-label="Forms", ng-cloak="" class="forms")
  md-toolbar
    .md-toolbar-tools
      h3 {{title}}
      span(flex="")   
      md-dialog-actions(layout="row")
        md-button.md-accent.md-raised(ng-click="answer(action)" aria-label="Action dialog" )
          md-icon(md-font-set="fa fa-floppy-o fa-2x")
          span {{action}}
        md-button.md-warn.md-raised(ng-click="cancel()" aria-label="Close dialog" )
          md-icon(md-font-set="fa fa-times fa-2x")
          span Cancel
  md-dialog-content
    include doc