div(ng-repeat="feature in features" ng-class="{\"side-border\" : (bigScreen && !$last), \"bottom\" : !$last && !bigScreen}" layout="column" layout-align="center center")
  h3.md-subheadline {{feature.title}}
  span {{feature.content}}