div.group(layout="column" layout-padding)
  span.md-warn {{groupErr}}

  
  md-checkbox(ng-model="newgroup" aria-label="New Group" ng-change="toggle()") New Group
  fieldset(ng-show="newgroup")
    legend Fill the fields
    form(name="newGroup" method="post" enctype="multipart/data")
      div.options(layout="column")
        md-input-container
          label(for="title") Group Name
          input(type="text" ng-model="pform.title" name="title" required ng-disabled="joingroup")
          div(ng-messages="newGroup.title.$error" ng-show="newGroup.title.$dirty")
            div(ng-message="required") Group Name is required
        md-input-container
          label(for="description") Description
          input(type="text" name="description" ng-model="pform.description" required ng-disabled="joingroup")
          div(ng-messages="newGroup.description.$error" ng-show="newGroup.description.$dirty")
            div(ng-message="required") Description is required
        md-input-container
          label(for="passphrase") Passphrase
          input(type="text" name="passphrase" ng-model="pform.passphrase" required ng-disabled="joingroup")
          div(ng-messages="newGroup.passphrase.$error" ng-show="newGroup.passphrase.$dirty")
            div(ng-message="required") Passphrase is required


  md-checkbox(ng-model="joingroup" aria-label="Join Group" ng-change="toggle()") Join a Group
  fieldset(ng-show="joingroup")
    legend Select a Group and Role
    form(name="groupForm" method="post" enctype="multipart/data")
      div.options(layout="column" layout-gt-xs="row" flex-gt-xs)
        md-input-container(flex="60")
          label(for="group") Group Name
          md-select(name="group" ng-change= "getRoles()" ng-model="signform.group" class="select" aria-label="group Name" ng-disabled="newgroup")
            md-option(ng-value="group" ng-repeat="group in groups") {{group.title}}
        md-input-container(flex="40")
          label(for="role") Role
          md-select(name="role" ng-model="signform.role" class="select" aria-label="signform.role" ng-disabled="newgroup")
            md-option(ng-value="role._id" ng-repeat="role in roles") {{role.title}}
      md-input-container.md-block
        label(for="passphrase") Enter group passphrase
        input(type="text" name="passphrase" ng-model="signform.passphrase" required ng-disabled="newgroup")

  div(layout layout-align="center center")
    md-button.long.md-primary.md-raised(ng-disabled="groupForm.$invalid && newGroup.$invalid" ng-click="newgroup? addGroup() : joinGroup()" md-ink-ripple type="submit") {{newgroup? buttonName[0] : buttonName[1]}}
    md-button.md-accent.md-raised(md-ink-ripple ng-click="back()") Cancel
