.overlay(layout="column" layout-padding layout-align="center center")
  md-content.extraView(layout="column" layout-margin layout-padding)
    span.appName ProDocs
    h3 Create, Share and Manage Documents
    .md-padding(layout layout-align="center center" ng-if="showButton")
      md-button.md-primary.md-raised(md-ink-ripple ui-sref="home.login") Login
      md-button.md-accent.md-raised(md-ink-ripple ui-sref="home.adduser") Sign Up
 
  md-content.features(ng-if="showButton")
    div(ui-view="feature" layout-gt-sm="row" layout="column" layout-padding)

  md-content.nextViews(layout="column" layout-align="center center" ng-if="!showButton")
    div(ui-view="nextView" id="form-views")