div.login(layout="column" layout-padding layout-align="center center")
  h3 LogIn
  form.login(name="loginForm" method="post" enctype="multipart/data" ng-submit="login()")
    div(layout="column")
      md-input-container
        label(for="userData") Username or Email
        input(type="text" ng-model="loginForm.userdata" name="userData" required)
        div(ng-messages="loginForm.userData.$error" ng-show="loginForm.userData.$dirty")
          div(ng-message="required") Username/Email is required
      md-input-container
        label(for="npassword") Password
        input(type="password" name="npassword" ng-model="loginForm.password" required)
        div(ng-messages="loginForm.npassword.$error" ng-show="loginForm.npassword.$dirty")
          div(ng-message="required") Password is required
    md-button.md-accent.md-raised(ng-disabled="loginForm.$invalid" type="submit") Submit 
  div.redirect(layout layout-align="center center")
    h2.md-subheadline Not Registered ? 
    md-button.md-primary.md-raised(ui-sref="home.adduser") SignUp
    md-button.md-warn.md-raised(ui-sref="home.features") Cancel
