div.login(layout="column" layout-padding layout-align="center center")
  h3 LogIn
  span {{loginErr}}
  form.login(name="loginForm" method="post" autocomplete="off" ng-submit="login()")
    div(layout="column")
      md-input-container
        label(for="userData") Username or Email
        md-icon(md-font-set="fa fa-user")
        input(type="text" ng-model="loginForm.userdata" name="userData" md-auto-focus required)
        div(ng-messages="loginForm.userData.$error" ng-show="loginForm.userData.$dirty")
          div(ng-message="required") Username/Email is required
      md-input-container
        label(for="npassword") Password
        md-icon(md-font-set="fa fa-key")
        input(type="password" name="npassword" ng-model="loginForm.password" required)
        div(ng-messages="loginForm.npassword.$error" ng-show="loginForm.npassword.$dirty")
          div(ng-message="required") Password is required
    md-button.md-primary.md-raised(ng-disabled="loginForm.$invalid" type="submit") Submit 
  md-divider
  div.redirect(layout-xs="column" layout="row" layout-align="center center" layout-margin)
    span Not Registered ? 
    div(layout)
      md-button.md-primary.md-raised(ui-sref="home.adduser") SignUp
      md-button.md-accent.md-raised(ui-sref="home.features") Cancel
