div.docForm(layout="column" ng-init="loadRoles()") 
  form(name="docForm" layout="column" method="post" autocomplete="off" ng-submit="saveDoc($event)")
    div(layout='row' flex layout-margin)
      div(layout="column" flex="70")
        md-toolbar
          .md-toolbar-tools.docheader
            h3 {{newDoc.label || "New Document"}} - {{newDoc.title}} 
            span(flex)
            md-button.md-primary.md-raised(aria-label="Save" type="submit" ng-disabled="docForm.$invalid")
              | Save
            md-button.md-accent.md-raised(aria-label="Close dialog" ui-sref="dashboard.list")
              | Cancel
       
        .formTitle
          div(layout="row" layout-margin)
            md-input-container(md-no-float flex="30")
              label(for="label")
              input(name="label" ng-model="newDoc.label" ng-maxlength="20" type="text" placeholder="Enter a label") 
              div(ng-messages="docForm.label.$error" ng-show="docForm.label.$dirty")
                div(ng-message="maxlength") Label Exceeds maximum character length
            md-input-container.md-block(md-no-float flex="70")
              label(for="title")
              input(name="title" ng-model="newDoc.title" ng-maxlength="30" placeholder="Enter Document Title")
              div(ng-messages="docForm.title.$error" ng-show="docForm.title.$dirty")
                div(ng-message="maxlength") Title Exceeds maximum character length
        .formContent(layout-padding)
          md-input-container.md-block(md-no-float)
            textarea(ui-tinymce="tinymceOptions" ng-model="newDoc.content")
      div(layout="column" flex)
        md-toolbar
          .md-toolbar-tools
            h3 Share with Group
            span(flex="") 
        .md-padding.share
          md-checkbox(ng-repeat="role in roles" ng-click="toggle(role._id, newDoc.roles)" aria-label="Share Role") {{role.title}}