md-content(layout="column" layout-align="center" layout-fill)
  div.sectionTitle(layout="row" layout-padding)
    h3.md-subheader(flex) Shared Documents
    md-button.md-accent.md-raised(aria-label="View Selected")
      md-icon(md-font-set="fa fa-external-link fa-2x") 
      span View Selected
    md-button.md-warn.md-raised(aria-label="Delete Selected")
      md-icon(md-font-set="fa fa-trash fa-2x") 
      span Delete Selected


  md-content.listDocs(layout="column" layout-margin)
    table(class="mdl-data-table mdl-data-table--selectable")
      thead
        tr
          th
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header")
              input(type="checkbox" id="table-header" class="mdl-checkbox__input")
          th(class="mdl-data-table__cell--non-numeric" ng-repeat="h in headers") {{h.name}} 
          th(class="mdl-data-table__cell--non-numeric") Action

      tbody
        tr(ng-repeat="doc in testDocs" ng-click="viewDoc(doc.name)")
          td
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="row[{{$index}}]")
              input(type="checkbox" id="row[{{$index}}]" class="mdl-checkbox__input")
          td(class="mdl-data-table__cell--non-numeric" ng-repeat="(key, value) in doc" ng-if="key !== \"shared\"")  {{(key === "name")? getExt(value).name : value}}
          td(class="mdl-data-table__cell--non-numeric")
            md-icon(md-font-set="fa fa-group" ng-if="doc.shared")
          td(class="mdl-data-table__cell--non-numeric")
            img.iconImage(ng-src="./images/{{getExt(doc.name).ext}}.png")
            span {{getExt(doc.name).ext}}
          td.docMenu
            md-menu
              md-button.md-icon-button(aria-label="doc options" ng-click="openMenu($mdOpenMenu, $event)")
                md-icon(md-font-set="fa fa-ellipsis-v fa-2x" md-menu-origin) 
              md-menu-content(width="1")
                md-menu-item(ng-repeat="i in docMenu")
                  md-button.md-primary(aria-label="i.name" ng-click="editDocModal($event, \"Edit  Document\", \"Update\")")
                    md-icon(md-font-set="{{i.icon}}" md-menu-align-target) 
                    span {{i.name}}
    

    table(class="mdl-data-table mdl-data-table--selectable")
      thead
        tr
          th
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header")
              input(type="checkbox" id="table-header" class="mdl-checkbox__input")
          th(class="mdl-data-table__cell--non-numeric" ng-repeat="h in userHeaders") {{h.name}} 
          th(class="mdl-data-table__cell--non-numeric") Action

      tbody
        tr(ng-repeat="user in testUsers")
          td
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="row[{{$index}}]")
              input(type="checkbox" id="row[{{$index}}]" class="mdl-checkbox__input")
          td(class="mdl-data-table__cell--non-numeric" ng-repeat="(key, value) in user" ng-if="key !== \"active\"")  {{value}}
          td(class="mdl-data-table__cell--non-numeric")
            md-icon(md-font-set="(user.active)? fa fa-check-square-o : fa fa-square-o")
          td.userMenu
            md-menu
              md-button.md-icon-button(aria-label="user options" ng-click="openMenu($mdOpenMenu, $event)")
                md-icon(md-font-set="fa fa-ellipsis-v fa-2x" md-menu-origin) 
              md-menu-content(width="1")
                md-menu-item(ng-repeat="i in userMenu")
                  md-button.md-primary(aria-label="i.name" ng-click="edituserModal($event, \"Edit  User\", \"Update\")")
                    md-icon(md-font-set="{{i.icon}}" md-menu-align-target) 
                    span {{i.name}}


    table(class="mdl-data-table mdl-data-table--selectable")
      thead
        tr
          th
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header")
              input(type="checkbox" id="table-header" class="mdl-checkbox__input")
          th(class="mdl-data-table__cell--non-numeric" ng-repeat="h in roleHeaders") {{h.name}} 
          th(class="mdl-data-table__cell--non-numeric") Action

      tbody
        tr(ng-repeat="Role in testRoles")
          td
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="row[{{$index}}]")
              input(type="checkbox" id="row[{{$index}}]" class="mdl-checkbox__input")
          td(class="mdl-data-table__cell--non-numeric" ng-repeat="(key, value) in Role" ng-if="key !== \"active\"")  {{value}}
          td(class="mdl-data-table__cell--non-numeric")
            md-icon(md-font-set="(Role.active)? fa fa-check-square-o : fa fa-square-o")
          td.RoleMenu
            md-menu
              md-button.md-icon-button(aria-label="Role options" ng-click="openMenu($mdOpenMenu, $event)")
                md-icon(md-font-set="fa fa-ellipsis-v fa-2x" md-menu-origin) 
              md-menu-content(width="1")
                md-menu-item(ng-repeat="i in RoleMenu")
                  md-button.md-primary(aria-label="i.name" ng-click="editRoleModal($event, \"Edit  Role\", \"Update\")")
                    md-icon(md-font-set="{{i.icon}}" md-menu-align-target) 
                    span {{i.name}}