md-content(layout ="column" flex="100" layout-margin)

  md-toolbar.table
    .md-toolbar-tools.sectionTitle(layout="row")
      span(flex) My Documents
      md-button.md-accent.md-raised(aria-label="Refresh Table")
        md-icon(md-font-set="fa fa-refresh fa-2x") 
        span Refresh


  md-toolbar.table.alternate(ng-if="selectedDocs.length > 0")
    .md-toolbar-tools.sectionTitle(layout="row")
      span(flex) {{selectedDocs.length}} Selected
      md-button.md-primary.md-raised(aria-label="View Selected")
        md-icon(md-font-set="fa fa-external-link fa-2x") 
        span View
      md-button.md-warn.md-raised(aria-label="Delete Selected")
        md-icon(md-font-set="fa fa-trash fa-2x") 
        span Delete

  md-content.listDocs(layout="column" layout-margin)
    md-table-container
      table.md-table(md-row-select="true" md-progress="promise")
        thead.md-head(md-order="query.order")
          tr.headerSection.md-row
            th.md-column.md-checkbox-cell
              md-checkbox(aria-label="Select Column" ng-click="selectAll()" role="checkbox")
            th.md-column(md-order-by="nameToLower" ng-repeat="header in headers") {{header.name}}
        tbody.md-body
          tr.md-row(md-auto-select ng-repeat="doc in docs")
            td.md-cell.md-checkbox-cell
              md-checkbox(aria-label="Select Row" ng-click="toggle(doc._id, selectedDocs)" role="checkbox")
            td.md-cell {{doc.label}}
            td.md-cell(ui-sref="dashboard.doc.view({docId:doc._id})") {{doc.title}}
            td.md-cell {{doc.ownerId[0].name.first}} {{doc.ownerId[0].name.last}}
            td.md-cell {{getDate(doc.dateCreated).day}}
            td.md-cell {{getDate(doc.lastModified).day}}
            td.md-cell
              md-icon(ng-if="doc.roles.length > 0" md-font-set="fa fa-group")
            td.md-cell
              md-menu(ng-if="editDoc(doc)")
                md-button(aria-label="doc options" ng-click="openMenu($mdOpenMenu, $event)")
                  md-icon(md-font-set="fa fa-ellipsis-v fa-2x" md-menu-origin) 
                md-menu-content(width="1")
                  md-menu-item
                    md-button.md-primary(aria-label="Edit doc" ng-click="menuAction(\"edit\", doc._id)")
                      md-icon(md-font-set="fa fa-pencil-square-o fa-2x" md-menu-align-target) 
                      span Edit doc
                  md-menu-item
                    md-button.md-primary(aria-label="Delete doc" ng-click="menuAction(\"delete\", doc._id)")
                      md-icon(md-font-set="fa fa-trash fa-2x" md-menu-align-target) 
                      span Delete
              md-button.md-primary(ng-if="!editDoc(doc)" aria-label="Delete doc" ui-sref="dashboard.doc.view({docId:doc._id})")
                md-icon(md-font-set="fa fa-external-link fa-2x" md-menu-align-target) 


      
