md-dialog(aria-label="Forms", ng-cloak class="forms" ng-init="init()")
  md-toolbar
    .md-toolbar-tools
      h3 User Information
      span(flex="")   
      md-dialog-actions(layout="row")
        md-button.md-primary.md-raised(ng-click="update()" aria-label="Action dialog" )
          | Save
        md-button.md-accent.md-raised(ng-click="cancel()" aria-label="Close dialog" )
          | Cancel
  md-dialog-content(layout="column" layout-margin)
    div.update(layout="column" layout-padding layout-align="center center")
      h3.md-header Update your data
      form(name="updateForm" autocomplete="off")
        div.updateUser(layout="column")
          div(layout="column" layout-gt-xs="row" flex-gt-xs)
            md-input-container.md-block(flex="50")
              label(for="firstname") First Name
              md-icon(md-font-set="fa fa-info-circle")
              input(type="text" ng-model="data.name.first" name="firstname" required)
              div(ng-messages="updateForm.firstname.$error" ng-show="updateForm.firstname.$dirty")
                div(ng-message="required") Firstname is required
            md-input-container.md-block(flex="50")
              label(for="lastname") Last Name
              md-icon(md-font-set="fa fa-info-circle")
              input(type="text" ng-model="data.name.last" name="lastname" required)
              div(ng-messages="updateForm.lastname.$error" ng-show="updateForm.lastname.$dirty")
                div(ng-message="required") Lastname is required
          md-input-container
            label(for="email") Email
            md-icon(md-font-set="fa fa-envelope")
            input(type="email" ng-model="data.email" name="email" required)
            div(ng-messages="updateForm.email.$error" ng-show="updateForm.email.$dirty")
              div(ng-message="required") email is required
              div(ng-message="email") Invalid email address
          div.options(layout="column" layout-gt-xs="row" flex-gt-xs)
            md-input-container.md-block(flex="50")
              label(for="username") Username
              md-icon(md-font-set="fa fa-user")
              input(type="text" name="username" ng-model="data.username" required)
              div(ng-messages="updateForm.username.$error" ng-show="updateForm.username.$dirty")
                div(ng-message="required") Username is required
            md-divider
            md-input-container.md-block(flex="50")
              label(for="npassword") Password
              md-icon(md-font-set="fa fa-key")
              input(type="password" name="npassword" ng-model="data.password" ng-minlength="6")
              div(ng-messages="updateForm.npassword.$error" ng-show="updateForm.npassword.$dirty")
                div(ng-message="minlength") Password must be at Least Six Characters
    md-divider
    div.update(layout="column" layout-align="start center")
      h3.md-header Group List
      md-list
        md-list-item.md-3-line(ng-repeat="group in data.groupId")
          div.md-list-item-text(layout="column")
            h3 {{group.title}}
            p {{group.description}}